langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
unstructured
markdown
chromadb
faiss-cpu
sentence-transformers
pymupdf
typesense
langchain_openai
langgraph
langchain
langchain_openrouter 
langchain-google-genai
duckduckgo-search
ddgs
langchain-experimental
langsmith
google-genai
